VITE_LIVEKIT_URL=ws://localhost:7880
VITE_LIVEKIT_TOKEN_ENDPOINT=/api/livekit/token
VITE_SUPABASE_URL=https://inmfghpihwbyuqzygxmj.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Xo5IW8RCwDUJi2YlQw7F9A_H8rzAT8v
